
.header-container {
    background-image: url("apples.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 600px;
    width: 100%;
}

.logo-text {
    color: white;
    font-size: 24px;
    margin: 10px;
}

.header-top {
    margin-top: 0px;
    padding: 10px;
}

.main-title {
    color: white;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}

.ampersand {
    font-size: 100px;
    margin: 0px;
}

.brand-description {
    text-align: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.button-container {
    margin: 100px auto;
    text-align: center;
}

.primary-button {
    width: 200px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(206, 206, 206);
}


.nav-list {
    margin: 0;
    padding: 20px;
    text-align: right;
    list-style: none;
}

.nav-list li {
    display: inline;
    margin: 0 10px;
}

.nav-list a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px;
}


.paragraph-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
}

.paragraph-large, .paragraph-small {
    text-align: justify;
    line-height: 1.6;
}

.paragraph-large {
    width: 500px;
}

.paragraph-small {
    width: 300px;
}


.featured-articles {
    background-color: #dadada;
    padding: 40px;
}

.featured-title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #000;
}

.article-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 100px;
    position: relative;
    
}

.article-card img {
    width: 100%;
    height: auto;
    
}

.like-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(206, 206, 206);
}

.article-location {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #a2a2a2;
}

.article-text {
    color: black;
    margin: 20px;
}


.newsletter-form {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 40px;
}

.newsletter-form p {
    font-size: 30px;
    padding-right: 10px;
}

.input-field {
    width: 700px;
    height: 50px;
}

.form-button-container {
    margin-left: 10px;
}

.primary-button {
    width: 100px;
    height: 56px;
}


.footer-container {
    padding: 50px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    width: 230px;
    color: #a2a2a2;
}

.footer-item h5 {
    color: black;
}

.footer-item form {
    display: flex;
    gap: 10px;
}
